#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ctn-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  padding: 10px;
  max-width: 400px;
  min-width: 400px;
}

@media screen and (min-width: 800px) { 
  .ctn-timer {
    flex-direction: row;
  }
}